body{
  background-color: #EEE;
}

.head{
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.head img{
    margin: auto;
}

.body{
    display: block;
}

.body .product-preview{
    background-color: #EEE;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.body .product-preview img{
    max-height: 25vw;
    max-width: 100%;
    display: block;
    margin: auto;
}

.body .product-preview .slider{
    padding-top: 3vw;
}

.body .product-preview .slider ul li a{
    height: 15vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.body .product-preview .slider ul li a img{
    max-height: 100%;
    height: auto;
    width: 100%;
}

.body .product-details{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3vh 15vw 3vh 15vw;
    height: 25vh;
}

.body .product-details .left-up{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body .product-details .left-up .color{
    margin: 0.5vw;
}

.body .product-details .left-up .size{
    margin: 0.5vw;
}

.body .product-details .left-up .quantity{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding-left: 20%;
    padding-right: 20%;
}

.body .product-details .right-down{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body .product-description{
    padding: 3vh 15vw 3vh 15vw;
}

@media only screen and (max-width: 768px){
    .body .product-preview{
        padding: 0px;
    }

    .body .product-preview img{
        max-height: 50vw;
        max-width: 100%;
        padding: 5vw 0px 5vw 0px;
        display: block;
        margin: auto;
    }

    .body .product-preview .slider{
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .body .product-preview .slider{
        width: 100vw;
    }

    .body .product-preview .slider ul{
        width: 100vw;
    }

    .body .product-preview .slider ul li{
        width: 50vw;
    }

    .body .product-details{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        padding: 1vh 0 1vh 0;
    }

    .body .product-details .left-up{
        padding: 3vh 0 1.5vh 0;
        width: 100%;
        height: auto;
    }

    .body .product-details .left-up .quantity{
        padding-left: 30%;
        padding-right: 30%;
        width: 100%;
    }

    .body .product-details .right-down{
        padding: 1.5vh 0 3vh 0;
        width: 100%;
        height: auto;
    }
}
