body{
  background-color: #EEE;
}

.head{
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.head img{
    margin: auto;
}

.body{
    display: block;
}

.body .product-preview{
    background-color: #F6F6F6;
}

.body .product-preview img{
    height: 100%;
    max-width: 100%;
    max-height: 100px;
    margin: auto;
}
