body{
  background-color: #EEE;
}
button {
    outline:none;
}

.head{
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70vw;
}

.head img{
    width: 100%;
    margin: auto;
}

.head .view-title{
    text-align: center;
    padding: 2vw 0 2vw 0;
}

.body{
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .body{
    align-items: stretch;
}

.product .body .product-preview{
    background-color: #EEE;
    padding-left: 15vw;
    padding-right: 15vw;
}

.product .body .product-preview img{
    height: 25vw;
    max-width: 100%;
    display: block;
    margin: auto;
}

.product .body .product-preview .slider{
    display: block;
    margin: auto;
    padding-top: 3vw;
}

.product .body .product-preview .slider ul li a{
    height: 15vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product .body .product-preview .slider ul li a img{
    max-height: 100%;
    height: auto;
    width: 100%;
}

.product .body .product-details{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3vh 15vw 3vh 15vw;
    height: 25vh;
}

.product .body .product-details .left-up{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product .body .product-details .left-up .color{
    margin: 0.5vw;
}

.product .body .product-details .left-up .size{
    margin: 0.5vw;
}

.product .body .product-details .left-up .quantity{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding-left: 20%;
    padding-right: 20%;
}

.product .body .product-details .right-down{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product .body .product-description{
    padding: 3vh 15vw 3vh 15vw;
}

.shopping-cart .body table{
    width: 70%;
    border-radius: 25px;
    border: 2px solid #9C9C9C;
    text-align: center;
}

.shopping-cart .body thead{
    background: #7C7C7C;
    color: #FFF;
}

.shopping-cart .body thead tr td{
  border: 2px solid #9C9C9C;
  padding: 3vh 0 3vh 0;
}

.shopping-cart .body td{
    padding: 1.5vh 0 1.5vh 0;
}

.shopping-cart .body thead tr td p{
  color: #FFF;
}

.shopping-cart .body tbody tr{
    border: 1px solid #9C9C9C;
}

.shopping-cart .body tbody tr td{
  background-color: #FFF;
}

.shopping-cart .body tbody tr td p{
  color: #000;
}

.shopping-cart .body .total .title{
  border: 2px solid #9C9C9C;
  background: #7C7C7C;
  padding: 1.5vh 0 1.5vh 0;
  color: #FFF;
}

.shopping-cart .body .total .price{
  background-color: #FFF;
  padding: 5px;
}

.shopping-cart .body .total .price p{
  color: #000;
}

.shopping-cart .body .next-prev-button{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding: 5vh 0 5vh 0;
}

.next-prev-button button{
    height: 5vh;
    width: 15vw;
    background-color: #FFF;
    border: 1px solid #D8D8D8;
    border: 0;
    color: #000;
}

.next-prev-button button:hover{
    height: 5vh;
    width: 15vw;
    background-color: #A4A4A4;
    border: 1px solid #D8D8D8;
    color: #FFF;
}

.billing .body{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100;
    background-color: #F6F6F6;
}

.billing .body .information{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #F6F6F6;
    flex-direction: column;
    align-items: center;
    padding: 3vh 1vw 3vh 1vw;
    width: 40%;
}

.billing .body .text-input{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4vh;
    margin: 0.5vh 0 0.5vh 0;
    border: 1px solid #D8D8D8;
}

.billing .body .text-input label{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #E6E6E6;
    padding: 0 0 0 1vw;
    height: 100%;
    width: 25%;

    color: #000;
    font-weight: normal;
}

.billing .body .text-input input{
    align-items: center;
    justify-content: center;
    padding: 0 0 0 1vw;
    border: 0px;
    height: 100%;
    width: 75%;
    text-align: left;
}

@media only screen and (max-width: 768px){
    .head{
        width:100vw;
        max-width: 100%
    }

    .product .body .product-preview{
        padding: 0px;
    }

    .product .body .product-preview img{
        height: 50vw;
        max-width: 100%;
        padding: 5vw 0px 5vw 0px;
        display: block;
        margin: auto;
    }

    .product .body .product-preview .slider{
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        right: 0px;
    }

    .product .body .product-preview .slider ul{
        width: 100vw;
    }

    .product .body .product-preview .slider ul li{
        width: 50vw;
    }

    .product .body .product-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 1vh 0 1vh 0;
    }

    .product .body .product-details .left-up{
        padding: 3vh 0 1.5vh 0;
        width: 100%;
        height: auto;
    }

    .product .body .product-details .left-up .quantity{
        padding-left: 30%;
        padding-right: 30%;
        width: 100%;
    }

    .product .body .product-details .right-down{
        padding: 1.5vh 0 3vh 0;
        width: 100%;
        height: auto;
    }

    .product .body .product-description{
        padding: 3vh 1vw 3vh 1vw;
    }

    .shopping-cart .body table{
        width: 100%;
    }

    .shopping-cart .body .next-button{
        width: 100%;
        padding: 1vh 0 5vh 0;
    }

    .shopping-cart .body .next-button button{
        width: 100%;
    }

    .shopping-cart .body .next-button button:hover{
        width: 100%;
    }
}
