.centered-block{
  display: flex;
  justify-content:center;
  align-items:center;
}

.news-slideshow {
  min-height: 100px;
  max-height:100px;
}

.news-slideshow img {
  max-height:100%;
  max-width: 100%;
}

.hot-sales-slider{
}

.hot-sales-slide{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

.hot-sales-slide img {
  max-height:100%;
  max-width: 100%;
}

.sign-up-form .sign-up-form-input{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  min-width:80%;
  max-width:80%;
}

.sign-up-form .sign-up-form-button{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  white-space: normal;
  width: 100%
}
