.centered-block{
  display: flex;
  justify-content:center;
  align-items:center;
}

.size_and_quantity{
  margin-top: 75px;
  margin-bottom: 25px;
}

.price_and_button{
  margin-top: 25px;
  margin-bottom: 75px;
}

.price_and_size{
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.quantity_and_button{
  display:flex;
  align-items:center;
}

.quantityBar{
  min-width: 100px;
  max-width: 200px;
}

.container_img img {
  max-height:400px;
  max-width: 100%;
}

.container_thumbnail img {
  max-height:100%;
  max-width: 200px;
}


body{
  background-color: #EEE;
}

@media only screen and (max-device-width: 768px){
  .container{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .size_and_quantity{
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .price_and_button{
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .quantityBar{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .addToCart_component{
    white-space: normal;
    font-size: 2em;
    min-width: 75px;
    width: 75%;
    height: 50px;
  }

  h1{
    font-size: 3em;
  }
}
