.centered-block{
  display: flex;
  justify-content:center;
  align-items:center;
}


.margintop{
  margin-top:15px;
}

.quantityBarSize{
  width: 25%;
  margin-top:15px;
}

.addToCart {
  margin-left:50px;
  margin-right:50px;
  margin-top:50px;
  margin-bottom:50px;
}

.fixed-height{
  min-height: 1000px;
  max-height: 1000px;
}

.imagecontainer {
    background-size:100px 100px ;
    background-color: "#0000FF";
}
